@font-face {
  font-family: "Poppins";
  src: url("assets/") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("assets//fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  font-family: "Inter", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #11071f;
  --color-dark: #1b1b1b;
  --color-secondary: #7a29d8;
  --color-gray-100: #ececec;
  --color-gray-300: #cecece;
  --color-gray-400: #a3a3a3;
  --color-red-100: #f87878;
  --color-red-500: #ff3d3d;
  --color-blue-100: #98daf5;
  --color-blue-500: #4ba3f5;
  --color-purple-200: #966dbd;
  --color-purple-300: #763cac;
  --color-purple-400: #7127ba;
  --color-purple-800: #1a0b2e;

  --background-primary: var(--color-primary);
  --background-secondary: var(--color-secondary);
}

body {
  background: var(--color-primary);
  color: var(--color-gray-100);
  position: relative;
}
a {
  text-decoration: none;
  color: var(--color-gray-100);
}
img {
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.hidden {
  display: none !important;
}
.text-sm {
  font-size: 0.8rem;
}
.text-xs {
  font-size: 0.7rem;
}
.text-lg {
  font-size: 1.2rem;
}
text-3xl {
  font-size: 3rem;
}
header {
  z-index: 1000;
  padding: 0 2rem;
  position: absolute;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--color-purple-800);
  /* overflow: hidden; */
}
nav {
  width: 100%;
  max-width: 700px;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background: var(--color-gray-100);
  border-radius: 2px;
}

/* Show hamburger on smaller screens */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

/* media query for nav */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}
/* highlights */
.highlight {
  color: var(--color-purple-400);
}
/* hero section */

#hero {
  position: relative;
  top: 70px;
  overflow-x: hidden;
  padding: 6rem 0 2rem;
  min-height: 100vh;
  /* background: var(--color-blue-100); */
  color: var(--color-gray-100);
}
.hero_container {
  display: flex;
  gap: 3rem;

  justify-content: center;
  align-items: center;
}
.hero_container h1 {
  font-size: 3rem;
}
/* gradient */
.radial_gradinet_purple {
  background: radial-gradient(#9628f0, inherit);
}
.hero_img_container {
  display: flex;
  position: relative;
}
#hero p {
  max-width: 700px;
  padding: 1rem;
}
.hero_img_container img {
  z-index: 10;
  position: relative;
}
#hero .hero_description {
  margin-top: 5rem;
  color: var(--color-gray-400);
}

.hero_gradiet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: radial-gradient(var(--color-purple-300) 10%, transparent 60%);
}
/* media query for nav */
@media (max-width: 768px) {
  .hero_container {
    flex-direction: column;
    text-align: center;
  }
}
.section_title {
  font-size: 3rem;
  margin: 2rem auto;
}
.row-reverse {
  flex-direction: row-reverse;
}
.col-reverse {
  flex-direction: column-reverse;
}
